#mainBody {
    background:#5C6263;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}

p.backgroundColor{
	background-color:#778890;
	border-style:solid;
	border-width:1px;
	}
	
p.backgroundColor2 {
	background-color:#A09F9B;
	border-style:solid;
	border-width:1px;
	}
	
p.backgroundColor3 {
	background-color:#FF1493;
	}
	
p.backgroundColor4 {
	background-color:#8B0000;
	}
	
	
p.tweets {
	width:75%;
	}
	
#header {
	background-color:#C2BFBC;
	border-style:solid;
	border-width:1px;
	}
	
#title {
	font-family: 'Ubuntu', sans-serif;
	}
	
#searchedTerms {
	border-style:solid;
	border-width:1px;
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	background-color:#DCD8D5;
}

#searchedTerms2 {
	border-style:solid;
	font-family: 'Ubuntu', sans-serif;	
	text-align:center;
	border-width:1px;
	background-color:#DCD8D5;
}

#searchAgain {
float:right;
}